header {
	color: blue;
}
main {
	color: green;
}
.level2 {
	margin-left: 5px;
}
.level3 {
	margin-left: 30px;
}
.level4 {
	margin-left: 60px;
}
.level5 {
	margin-left: 100px;
}
#h3one {
	background-color: yellow;
}