body * {
	/*border: 1px solid;*/
	/*border-style: double solid;*/
/*	background: #eeeeee;*/
	/*margin: 3px 5px 3px 5px;
	padding: 1px 5px 1px 5px;*/
	position: relative;
	font-family: "San Francisco", sans-serif;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

nav {
	font-weight: bold;
	font-size: 1.2em;
}

footer {
	font-size: .8em;
	align-items: center;
	
}
main.flex {
	display: flex;
	justify-content: center;

}

footer.flex {
	display: flex;
	justify-content: space-around;
}

.column {
/*	display: inline-flex;*/
	order: 12;

}

ul.links {
	list-style: none;
	display: flex;
	justify-content: center;
}

ul.details {
	list-style: none;
	right: 35px;
}

ul.details li::before {
	content: "✓ "
}

ul.links li {
	display: inline-flex;
	margin: 3px 3px 3px 3px;
	padding: 1px 3px 1px 3px;
}
a:link {
	text-decoration: none
}
a:hover {
	color: red;
	text-decoration: underline;
}



figure.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
figure.icon {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

figure.logo img {
		max-width: 175px;
}

figure.icon img {
	max-height: 30px;
	max-width: 30px;
} 
/*
figure.product img {
	width: 94%;
	max-width: 300px;

}
figure.plan img {
	width: 94%;
	max-width: 300px;
}

figure.pay img {
	width: 94%;
	max-width: 300px;
}
*/
.product img, .plan img, .pay img {
	width: 94%;
	max-width: 300px;
}

p.itemtext {
	max-width: 300px;
	padding: 1px 10px 1px 10px;
}

#mainCol1, #mainCol2, #mainCol3 {
	flex-direction: column;
	max-width: 30%;
	box-shadow: 2px 1px 3px 2px grey;
	padding: 2px 6px 10px 6px;
	margin: 3px 5px 3px 5px;
}


#footCol1 {
	width: 24%;
	justify-content: flex-start;
}
#footCol2 {
	width: 50%;
	justify-content:
}
#footCol3 {
	width: 24%;
	/*justify-content: flex-end;*/
}















